<!--The content below is only a placeholder and can be replaced.-->
<toaster-container></toaster-container>
<div style="text-align:center;margin-bottom:50px;">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <div class="col-6" style="margin:auto; padding-bottom:50px;">
    <form style="margin-bottom:30px">
      <div class="form-group">
        <label for="exampleInputEmail1">Enter Address</label>
        <input type="text" name="address" #address class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter Address...">
        <small id="addressHelp" class="form-text text-muted">Outlet might not be avalaible for your location.</small>
      </div>
      <button type="button" class="btn btn-primary" (click)="outletByAddress(address)">Submit</button>
    </form>
    <b>Output: <span class="badge badge-success">{{outlet}}</span></b>
  </div>


<router-outlet></router-outlet>
